/* Footer.module.css */
.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footerSection {
    flex: 1 0 20%;
    margin: 0 10px;
    color: #fff;
  }
  
  .footerLogo {
    flex: 1 0 20%;
    display: flex;
    margin-right: 40px;
    align-items: center;
  }
  
  .logoImage {
    max-width: 150px;
    margin-right: 82px;

  }
  
  .sectionHeading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #e63946;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .listItem {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .socialIcons {
    font-size: 24px;
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .socialIcon {
    color: #fff;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .footerBottom {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    color: #ccc;
    border-top: 1px solid #444;
  }
  
  .whiteBorder {
    color: #fff;
  }
  
  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
  }
  
  .loginButton {
    background-color: #e63946;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .loginPopupContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    .footerContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .footerSection {
      flex: 1 0 100%;
      margin: 10px 0;
      text-align: center;
    }
  
    .footerLogo {
      margin: 20px 0;
    }
  
    .buttonWrapper {
      justify-content: center;
    }
  }
  